<div class="nav-bar d-flex wider">
  <div class="search">
    <%= link_to ski_resorts_path, class: "nav-link" do %>
      <i class="fa-solid fa-magnifying-glass" style="color: #2d5c9e;"></i>
    <% end %>
  </div>
  <div class="home">
    <% if user_signed_in? && current_user.check_ins.last && current_user.check_ins&.last.checked_out_at.nil? %>
      <%= link_to ski_resort_path(current_user.check_ins.last.ski_resort), class: "navbar-brand" do %>
        <i class="fa-solid fa-house"style="color: #2d5c9e;"></i>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
         <i class="fa-solid fa-house"style="color: #2d5c9e;"></i>
      <% end %>
    <% end %>
  </div>
  <div class="profile">
    <% if user_signed_in? %>
      <div class="nav-item dropdown">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-user" style="color: #2d5c9e;" class="avatar", alt="dropdown menu"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
            <i class="fa-solid fa-user" style="color: #2d5c9e;"></i>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="nav-item">
        <%= link_to new_user_session_path, class: "nav-link" do %>
          <i class="fa-solid fa-user" style="color: #2d5c9e;"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
