<h1>Review Details</h1>
<h2><%= @review.title %></h2>
<p><%= @review.lift_wait_rating %></p>
<p><%= @review.price_rating%></p>
<p><%= @review.crowd_rating%></p>
<p><%= @review.food_rating%></p>
<p><%= @review.location_rating%></p>
