<div class='checkin-background bg-primary'>
  <div data-controller='map' data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     data-map-markers-value="<%= @markers.to_json %>">
    <%= render 'shared/map', style: "width: 100vw; height: 42vh;" %>
  </div>
  <div class='p-1 m-1 row row-cols-2' style='height: 42vh'>
    <div class='col p-3'>
      <div class='rounded-4 bg-dark'>
        <%= render 'check_out_btn' %>
      </div>
    </div>
    <div class='col p-3'>
      <div class='rounded-4 bg-dark'>
        <%= render 'review_btn' %>
      </div>
    </div>
    <div class='col p-3'>
      <div class='rounded-4 bg-dark'>
        <%= render 'snow_report_btn' %>
      </div>
      <%# <button type="button" class="btn btn-dark w-100 h-100 p-3 rounded-4" data-bs-toggle="modal" data-bs-target="#snowBackdrop">
        Leave your Snow report ❄️
      </button> %>
    </div>
    <div class='col p-3'>
      <div class='rounded-4 bg-dark'>
      </div>
    </div>
  </div>
</div>
<%= render 'review_modal', review: @review, check_in: current_user.active_check_in %>
<%= render 'snow_report_modal', ski_resort: current_user.active_check_in.ski_resort, snow_report: @snow_report %>
