<div class="resort-card">
  <%= link_to "", ski_resort_path(ski_resort.id), style: 'position: absolute; height: 100%; width: 100%;' %>
  <h4 class="resort-name"><strong><%= ski_resort.name %></strong></h4>
  <div class="d-flex">
    <div class="info flex-column">
      <% if ski_resort.current_condition == 'no_snow' %>
        <div class="current-snow nosnow">
          <%= image_tag "clear.svg", alt: "No snow", class: "svg-icon-small" %>
          <span class="condition-text">NO SNOW!</span>
        </div>
      <% elsif ski_resort.current_condition == 'slushy' %>
        <div class="current-snow slush">
          <%= image_tag "slush.svg", alt: "Slushy", class: "svg-icon-small" %>
          <span class="condition-text">SLUSHY!</span>
        </div>
      <% elsif ski_resort.current_condition == 'icy' %>
        <div class="current-snow icy">
          <%= image_tag "icy.svg", alt: "Icy", class: "svg-icon-small" %>
          <span class="condition-text">ICY!</span>
        </div>
      <% elsif ski_resort.current_condition == 'groomed_snow' %>
        <div class="current-snow groomed">
          <%= image_tag "groomed.svg", alt: "Groomed", class: "svg-icon-small" %>
          <span class="condition-text">GROOMED!</span>
        </div>
      <% elsif ski_resort.current_condition == 'packed_powder' %>
        <div class="current-snow packed">
          <%= image_tag "packed.svg", alt: "Packed Powder", class: "svg-icon-small" %>
          <span class="condition-text">PACKED!</span>
        </div>
      <% elsif ski_resort.current_condition == 'pow' %>
        <div class="current-snow pow">
          <%= image_tag "powder.svg", alt: "Powder", class: "svg-icon-small" %>
          <span class="condition-text">POW!</span>
        </div>
      <% else %>
        <div class="current-snow no-report">
          No reports yet today!
        </div>
      <% end %>
      <div class="ratings">
        <ul class="list-unstyled">
          <li class="dif d-flex justify-content-between align-items-baseline">
            Lift waiting times
            <div>
              <%= ski_resort.average_of("lift_wait_rating") %>
              <i class="fa-solid fa-star" style="color: #2d5c9e;"></i>
            </div>
          </li>
          <li class="dif d-flex justify-content-between align-items-baseline">
            Food
            <div>
              <%= ski_resort.average_of("food_rating") %>
              <i class="fa-solid fa-star" style="color: #2d5c9e;"></i>
            </div>
          </li>
          <li class="dif d-flex justify-content-between align-items-baseline">
            Crowded?
            <div>
              <%= ski_resort.average_of("crowd_rating") %>
              <i class="fa-solid fa-star" style="color: #2d5c9e;"></i>
            </div>
          </li>
          <li class="dif d-flex justify-content-between align-items-baseline">
            Location
            <div>
              <%= ski_resort.average_of("location_rating") %>
              <i class="fa-solid fa-star" style="color: #2d5c9e;"></i>
            </div>
          </li>
          <li class="dif d-flex justify-content-between align-items-baseline">
            Overall price
            <div>
              <%= ski_resort.average_of("price_rating") %>
              <i class="fa-solid fa-star" style="color: #2d5c9e;"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="image">
      <% if ski_resort.photo.attached? %>
        <%= cl_image_tag ski_resort.photo.key, class: "image" %>
      <% else %>
        <%= image_tag "ski_resort.jpg", class: "image" %>
      <% end %>
    </div>
  </div>
</div>
