<div class="card bg-white position-relative">
  <%= link_to "", ski_resort_path(ski_resort.id), style: 'position: absolute; height: 100%; width: 100%;' %>
  <div class="d-flex justify-content-between align-items-baseline mx-4 mt-3">
    <div class="resort-info">
      <h3 class="mb-1"> <%= ski_resort.name %> </h3>
      <p class="mt-1"> <%= ski_resort.description %></p>
      <%= link_to "", ski_resort_path(ski_resort.id), class: 'btn' %>
    </div>
    <% if ski_resort.current_condition    == 'No Snow :(' %>
      тША CLEAR
    <% elsif ski_resort.current_condition == 'Slushy' %>
      тЫЖ RAIN
    <% elsif ski_resort.current_condition == 'Icy' %>
      ЁЯзК ICE
    <% elsif ski_resort.current_condition == 'Groomed Snow' %>
      ЁЯМия╕П SNOWY
    <% elsif ski_resort.current_condition == 'Packed Powder' %>
      ЁЯМия╕П PACKED POWEDER!
    <% elsif ski_resort.current_condition == 'pow' %>
      тЭДя╕П POW!
    <% else %>
      No reports today yet!
    <% end %>
  </div>
  <%= image_tag "ski_resort.jpg", class: "mx-3 mb-4" %>
</div>
