<div class='d-flex p-3' style='position: absolute; width: 100%; z-index: 2; margin-top: 40px; left: 10px;'>
  <div class="info-button">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#snowGuideModal">
      <i class="fas fa-info-circle"></i>
    </button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="snowGuideModal" tabindex="-1" aria-labelledby="snowGuideModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1 class="text-center">Snow Guide</h1>

<div class="info">
  <table class="table table-bordered">
    <tr>
      <td class="text-center">
        <div class="current-snow nosnow">
          <%= image_tag "clear.svg", alt: "No snow", class: "svg-icon-small" %>
          <br>
          <span class="condition-text">NO SNOW!</span>
        </div>
      </td>
      <td class="text-center">
        <div class="current-snow slush">
          <%= image_tag "slush.svg", alt: "Slushy", class: "svg-icon-small" %>
          <span class="condition-text">SLUSHY!</span>
        </div>
      </td>
      <td class="text-center">
        <div class="current-snow icy">
          <%= image_tag "icy.svg", alt: "Icy", class: "svg-icon-small", height: "43px" %>
          <span class="condition-text">ICY!</span>
        </div>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        <div class="current-snow groomed">
          <%= image_tag "groomed.svg", alt: "Groomed", class: "svg-icon-small" %>
          <span class="condition-text">GROOMED!</span>
        </div>
      </td>
      <td class="text-center">
        <div class="current-snow packed">
          <%= image_tag "packed.svg", alt: "Packed Powder", class: "svg-icon-small" %>
          <span class="condition-text">PACKED!</span>
        </div>
      </td>
      <td class="text-center">
        <div class="current-snow pow">
          <%= image_tag "powder.svg", alt: "Powder", class: "svg-icon-small" %>
          <span class="condition-text">POW!</span>
        </div>
      </td>
    </tr>
  </table>
</div>

        <div class="mb-4 px-2">
          <h2>Powder Snow</h2>
          <%= image_tag "powder snow.avif", class: "mx-auto d-block img-fluid rounded" %>
          <p>Powder snow, or "pow" for short, is freshly fallen, light, dry, and fluffy snow. It's the holy grail among skiers and snowboarders for its soft and smooth texture. Excellent for floatation and the feeling of gliding on top of the snow.</p>
          <h2>Packed Powder</h2>
          <%= image_tag "packed_snow.jpg", class: "mx-auto d-block img-fluid rounded" %>
          <p>Packed powder is snow that has been compacted from the pressure of skiers and riders. It offers a good balance between softness and stability, making it suitable for carving turns and maintaining control.</p>
          <h2>Groomed Snow</h2>
          <%= image_tag "groomed.avif", class: "mx-auto d-block img-fluid rounded" %>
          <p>Groomed snow happens when the resort's grooming machines flatten and smooth the snow surface. It provides a consistent and even surface, making it easier for skiers and snowboarders to control their movements. Groomed runs are popular for carving and practicing technique.</p>
          <h2>Icy</h2>
          <%= image_tag "icy.avif", class: "mx-auto d-block img-fluid rounded" %>
          <p>Icy conditions occur when the snow freezes and becomes hard, creating a slippery surface. Icy slopes can be challenging to navigate and require precise control and edge grip to maintain stability and control.</p>
          <h2>Slushy</h2>
          <%= image_tag "slush snow.jpg", class: "mx-auto d-block img-fluid rounded" %>
          <p>Slushy or wet snow occurs as temperatures rise, causing the snow to melt and become wet. It can create heavy, sticky conditions that are more difficult to maneuver through. Slushy snow tends to be slower and requires adjustments in technique.</p>
          <h2>No Snow</h2>
          <%= image_tag "no snow.avif", class: "mx-auto d-block img-fluid rounded" %>
          <p>No snow is a no-go! Stay home or hit the hot spring instead.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
