<div class="info text-light">
    <div class="caracteristiques d-flex justify-content-around">
      <div class="d-flex flex-column">
        <p class="mb-1 mt-2">Length</p>
        <p><strong><%= @ski_resort.length.round(2)%>km</strong></p>
      </div>
      <div class="d-flex flex-column">
        <p class="mb-1 mt-2">Height</p>
        <p><strong><%= @ski_resort.height.round(2)%>m</strong></p>
      </div>
      <div class="d-flex flex-column">
        <p class="mb-1 mt-2">Temp</p>
        <p><strong><%= @ski_resort.temp.round(1)%>ยบ</strong></p>
      </div>
    </div>
    <div class="friends">

    </div>
    <div class='courses pe-1'>
        <p style='padding: 0; margin: 0; text-align: center'>Available courses:</p>
        <ul class="list-unstyled">
          <% ski_resort.courses.each do |course, number| %>
            <li class="dif d-flex d-flex justify-content-between">
              <% if course.to_s == "easy" %>
                <div class="d-flex align-items-center"><i class="mx-2 fa-solid fa-square" style="color: #5bde4a;"></i> <%= course.to_s.capitalize %></div>
                <%= number %>
              <% elsif course.to_s == "intermediate" %>
                <div class="d-flex align-items-center"><i class="mx-2 fa-solid fa-square-full" style="color: #70d2eb;"></i> <%= course.to_s.capitalize %></div>
                <%= number %>
              <% elsif course.to_s == "advanced" %>
                <div class="d-flex align-items-center"><i class="mx-2 fa-solid fa-diamond" style="color: #434343;"></i> <%= course.to_s.capitalize %></div>
                <%= number %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
