<div class='index-container' data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     data-map-markers-value="<%= @markers.to_json %>">
  <%= render "ski_resorts/search_bar" %>
  <%= render "ski_resorts/snow_guide_button" %>
  <%= render "shared/map", style: "width: 100vw; height: 100%;" %>
  <div class='outer-cards-container'>
    <ul data-search-target="cards" class="cards" data-action="scroll->map#updateMarkerColors">
      <% @ski_resorts.each do |ski_resort| %>
        <li class="show-card bg-white" style='position: relative'
        data-ski-resort-id="<%= ski_resort.id %>" data-ski-resort-coordinates="<%= [ski_resort.longitude, ski_resort.latitude] %>">
          <%= render "ski_resorts/resort_card", ski_resort: ski_resort %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/navbar" %>
