<div data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     data-map-markers-value="<%= @markers.to_json %>">
  <ul data-search-target="cards" class="cards fixed-bottom mx-2" data-action="scroll->map#updateMarkerColors">
    <% @ski_resorts.each do |ski_resort| %>
      <li class="card" data-ski-resort-id="<%= ski_resort.id %>" data-ski-resort-coordinates="<%= [ski_resort.longitude, ski_resort.latitude] %>">
        <%= render "ski_resorts/resort_card", ski_resort: ski_resort %>
      </li>
    <% end %>
  </ul>
  <div style='position: relative; height: 777px;'>
    <%= render "ski_resorts/search_bar" %>
    <%= render "shared/map", style: "width: 100vw; height: 100vh;" %>
  </div>
</div>
