<h1 class="text-center m-4 text-primary"><strong> <%= @ski_resort.name %></strong></h1>
<div class="ski-resort-info bg-primary px-4 py-3 fixed-bottom">
  <p class="snow-report p-1 bg-success text-center">The snow right now is </p>
  <div class="map m-3 border border-5" style="height: 285px">
    <%= render "shared/map" %>
  </div>
  <% if user_signed_in? %>
    <%= simple_form_for([@ski_resort, @check_in], remote: true) do |f|  %>
      <%= f.submit 'Check in', class: "btn btn-secondary btn-block w-100 p-3" %>
    <% end %>
  <% end %>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  <div class="info text-light">
    <div class="caracteristiques d-flex justify-content-around">
      <div class="d-flex flex-column">
        <p class="mb-1 mt-2">Length</p>
        <p><strong><%= @ski_resort.length.round(2)%>km</strong></p>
      </div>
      <div class="d-flex flex-column">
        <p class="mb-1 mt-2">Height</p>
        <p><strong><%= @ski_resort.height.round(2)%>m</strong></p>
      </div>
      <div class="d-flex flex-column">
        <p class="mb-1 mt-2">Temp</p>
        <p><strong><%= @ski_resort.temp.round(1)%>ยบ</strong></p>
      </div>
    </div>
    <div class="available-features">
      <ul class="list-unstyled">
        <% @ski_resort.features.each do |feature, available| %>
          <li>
            <%= feature.to_s.capitalize.gsub("_", " ") %>
            <% if available %>
              <i class="fa-solid fa-circle-check" style="color: #4dc567;"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render 'review_modal' %>
